body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u4069 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u4070 {
  position:absolute;
  left:279px;
  top:8px;
  width:27px;
  height:27px;
}
#u4071 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u4072 {
  position:absolute;
  left:20px;
  top:8px;
  width:87px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u4073 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u4074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u4074 {
  position:absolute;
  left:330px;
  top:11px;
  width:25px;
  height:21px;
}
#u4075 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:623px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4076 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:623px;
}
#u4077 {
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4078 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:320px;
}
#u4079 {
  position:absolute;
  left:2px;
  top:152px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080 {
  position:absolute;
  left:20px;
  top:165px;
  width:338px;
  height:105px;
}
#u4080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:105px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u4081 {
  position:absolute;
  left:32px;
  top:177px;
  width:297px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
#u4082 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u4083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:35px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4083 {
  position:absolute;
  left:95px;
  top:295px;
  width:172px;
  height:35px;
  font-size:14px;
}
#u4084 {
  position:absolute;
  left:2px;
  top:10px;
  width:168px;
  word-wrap:break-word;
}
#u4085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4085 {
  position:absolute;
  left:20px;
  top:64px;
  width:90px;
  height:16px;
}
#u4086 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u4087 {
  position:absolute;
  left:20px;
  top:90px;
  width:338px;
  height:30px;
}
#u4087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4088 {
  position:absolute;
  left:20px;
  top:142px;
  width:69px;
  height:16px;
}
#u4089 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
